.details-card {
  max-width: 862px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  background-color: white;
  border-radius: 20px;
}

.details__title {
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}

.details__info {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  @media (width < 700px) {
    flex-direction: column;
    align-items: center;
  }
}

.details__img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 125px;
  max-width: 125px;
  min-height: 125px;
  max-height: 125px;
  img {
    border-radius: 50%;
  }
}

.info__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 649px;
  @media (width < 700px) {
    align-items: center;
  }
}
.info__full-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 115%;
  color: #3a3a3a;
  @media (width < 700px) {
    text-align: center;
  }
}
.info__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #3a3a3a;
  @media (width < 700px) {
    text-align: center;
  }
}

.repository__showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(33, 34, 35, 0.08);
  @media (width < 840px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (width < 580px) {
    grid-template-columns: 1fr;
  }
}
.showcase-block {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  height: 81px;
  padding: 16px;
  background: #f7f7f7;
  border-radius: 20px;
}

.showcase__img {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  border-radius: 50%;
}
.showcase__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .showcase__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #3a3a3a;
  }
  .showcase__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    color: #84868c;
  }
}

.repository__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.github-link {
  margin-left: auto;
  padding: 8px 16px;

  border-radius: 8px;
  background: #d44333;

  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 100%;
  &:hover {
    background-color: #bf3c2d;
  }
  @media (width < 530px) {
    font-size: 12px;
    line-height: 140%;
    width: 100%;
  }
}
