.search-wrapper {
  width: 100%;
  position: relative;
}
.search-input {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 12px 20px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: rgba(58, 58, 58, 0.32);
  }
}
.suggestions {
  box-shadow: 0 4px 17px 0 rgba(172, 172, 172, 0.25);
  background-color: white;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(58, 58, 58, 0.12);
}
.suggestion {
  cursor: pointer;
  padding: 8px 20px;
  width: 100%;
  &:hover {
    background-color: #f2f2f2;
  }
}
